rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin () {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'ADMIN'
    }

    match /users/{userId} {
      allow read: if true;
    }
  }
}