@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Muli:200,400,800&display=swap')
// fonts
$font-1: 'Muli', sans-serif
.font-1-thin
  font-family: $font-1
  font-weight: 200
.font-1-bold
  font-family: $font-1
  font-weight: 800
$font-2: 'Playfair Display', serif

// colors
$nh-yellow: #fff3d3
$nh-amber: #ffd975
$nh-lightgrey: #eaeaea
$nh-darkgrey: #bdbdbd

// heights
$nav-height: 60px

// indeces
$nav-index: 900
$loading-index: 910